{% extends 'review/base.html' %}
{% load crispy_forms_tags %}
{% load tags %}
{% load static %}

{% block title %}Histroy{% endblock %}
{% block heading %}<h3>Review Histroy</h3>{% endblock %}
{% block content %}
    <script src="{% static "js/jquery.waypoints.min.js" %}"></script>
    <script src="{% static "js/infinite.min.js" %}"></script>
    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            offset: 'bottom-in-view',
        })
    </script>
    <style>
        .nounderline {
            text-decoration: none !important
        }
    </style>
    <div class="infinite-container">
        {% for review in reviews %}
            <div class="infinite-item">
                <a class="card text-white bg-dark mb-3 w-100 nounderline" href="/update-review/{{ review.pk }}">
                    <div class="card-header">
                        {{ review|star_template }}
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ review.title }}</h5>
                        <p class="card-text">{% limit_text review.text 250 %}</p>
                        <p class="card-text">
                            <small class="text-muted">{{ review.last_updated|time_ago }}</small>
                        </p>
                    </div>
                </a>
            </div>
            <br>
        {% endfor %}
    </div>
    {% if reviews %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                {% endif %}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
                </li>
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    {% else %}
        <p align="center">
            No results found. <a href="/home">Make one now!</a>
        </p>
    {% endif %}
    
{% endblock %}

