{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/home"
    ><img src="{% static 'images/ryr.png' %}" width="100"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link active" href="/home"
        >Home <span class="sr-only">(current)</span></a
      >
      {% if user.is_active %}
      <a class="nav-item nav-link" href="/history">Histroy</a>
      {% endif %}
      <a class="nav-item nav-link" href="#">About us</a>
    </div>
    <div class="navbar-nav">
      {% if user.is_active %}
      <a class="nav-item nav-link" href="#" style="padding-right: 20px">
        Welcome, {% if user.first_name %} {{ user.first_name }} {% else %} 
        {{ user.username }} {% endif %}
      </a>
      <a href="/logout" class="nav-item btn btn-dark">
        Logout
      </a>
      {% else %}
      <a
        class="nav-item btn btn-dark"
        href="/login"
        style="margin-right: 10px"
        >Login</a
      >
      <a
        class="nav-item btn btn-dark"
        href="/register"
        role="button"
        >Register</a
      >
      {% endif %}
    </div>
  </div>
</nav>
